extends templates/home
block title
  title Galería
block menu-galeria
  li: a.active(href="galeria.html") Galería
block content
  section#galeria__banner
    include includes/galeria__banner
  section#servicios__description
    include includes/galeria__galeria
