extends templates/home

block title
  title StyleGuide - Sanimack
  
block content
  
  .ed-container
    .ed-item
    
      h1 Elementos Básicos
      
      h1 Título 1
      h2 Título 2
      h3 Título 3
      h4 Título 4
      h5 Título 5
      h6 Título 6
      
      h2 Párrafo Principal
      
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      
      h2 Párrafo en Cursivas
      
      p.flavor-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, molestiae, vel. Vitae sapiente nostrum sequi, tenetur quisquam ipsa rem, illum debitis ut possimus temporibus delectus atque eos doloremque. Ea, nemo!
      
      h2 Listas
      
      ul
        li Elemento 1
        li Elemento 2
        li Elemento 3
        li Elemento 4
        li Elemento 5
        
      h2.bomba colores de fondo
      
      .styleguide__container
        .box.web-cross-center.web-main-center
          h4 $whiteee
        .box.web-cross-center.web-main-center
          h4 $grey-forte
        .box.web-cross-center.web-main-center
          h4 $grey
        .box.web-cross-center.web-main-center
          h4 $sanimack-blue
        .box.web-cross-center.web-main-center
          h4 $sanimack-orange
        
      
