.galeria__galeria.mt3.ptb5
  .ed-container
    .ed-item
      .accordion
        // Comentario Coffee 
        .titulo
          h2 + Nuestra Empresa 
            span (Click para mostrar)
        .descripcion
          .galeria__container
            a(href="img/galeria/fabrica/sanimack-planta1.jpg" data-lightbox="image" data-title="Sanimack").galeria__box
              img(src="img/galeria/fabrica/sanimack-planta1.jpg", alt="")
            a(href="img/galeria/fabrica/sanimack-planta2.jpg" data-lightbox="image" data-title="Sanimack").galeria__box
              img(src="img/galeria/fabrica/sanimack-planta2.jpg", alt="")
            a(href="img/galeria/fabrica/sanimack-planta3.jpg" data-lightbox="image" data-title="Sanimack").galeria__box
              img(src="img/galeria/fabrica/sanimack-planta3.jpg", alt="")
            a(href="img/galeria/fabrica/sanimack-planta4.jpg" data-lightbox="image" data-title="Sanimack").galeria__box
              img(src="img/galeria/fabrica/sanimack-planta4.jpg", alt="")
            a(href="img/galeria/fabrica/sanimack-planta5.jpg" data-lightbox="image" data-title="Sanimack").galeria__box
              img(src="img/galeria/fabrica/sanimack-planta5.jpg", alt="")
            a(href="img/galeria/fabrica/sanimack-planta6.jpg" data-lightbox="image" data-title="Sanimack").galeria__box
              img(src="img/galeria/fabrica/sanimack-planta6.jpg", alt="")
            a(href="img/galeria/fabrica/sanimack-planta7.jpg" data-lightbox="image" data-title="Sanimack").galeria__box
              img(src="img/galeria/fabrica/sanimack-planta7.jpg", alt="")
            a(href="img/galeria/fabrica/sanimack-planta8.jpg" data-lightbox="image" data-title="Sanimack").galeria__box
              img(src="img/galeria/fabrica/sanimack-planta8.jpg", alt="")
            a(href="img/galeria/fabrica/sanimack-planta9.jpg" data-lightbox="image" data-title="Sanimack").galeria__box
              img(src="img/galeria/fabrica/sanimack-planta9.jpg", alt="")
            a(href="img/galeria/fabrica/sanimack-planta10.jpg" data-lightbox="image" data-title="Sanimack").galeria__box
              img(src="img/galeria/fabrica/sanimack-planta10.jpg", alt="")
            a(href="img/galeria/fabrica/sanimack-planta11.jpg" data-lightbox="image" data-title="Sanimack").galeria__box
              img(src="img/galeria/fabrica/sanimack-planta11.jpg", alt="")
            a(href="img/galeria/fabrica/sanimack-planta12.jpg" data-lightbox="image" data-title="Sanimack").galeria__box
              img(src="img/galeria/fabrica/sanimack-planta12.jpg", alt="")
            a(href="img/galeria/fabrica/sanimack-planta13.jpg" data-lightbox="image" data-title="Sanimack").galeria__box
              img(src="img/galeria/fabrica/sanimack-planta13.jpg", alt="")
  .ed-container
    .ed-item
      .accordion
        // Comentario Coffee 
        .titulo
          h2 + Nuestros Clientes 
            span (Click para mostrar)
        .descripcion
          .galeria__container
            a(href="img/clientes/ford.png" data-lightbox="image" data-title="Sanimack").galeria__box
              img(src="img/clientes/ford.png", alt="")
              
            a(href="img/clientes/nokia.png" data-lightbox="image" data-title="Sanimack").galeria__box
              img(src="img/clientes/nokia.png", alt="")
              
            a(href="img/clientes/carrier.png" data-lightbox="image" data-title="Sanimack").galeria__box
              img(src="img/clientes/carrier.png", alt="")
              
            a(href="img/clientes/denso.png" data-lightbox="image" data-title="Sanimack").galeria__box
              img(src="img/clientes/denso.png", alt="")
              
            a(href="img/clientes/kraft.png" data-lightbox="image" data-title="Sanimack").galeria__box
              img(src="img/clientes/kraft.png", alt="")
              
            a(href="img/clientes/lennox.png" data-lightbox="image" data-title="Sanimack").galeria__box
              img(src="img/clientes/lennox.png", alt="")
              
            a(href="img/clientes/bard.png" data-lightbox="image" data-title="Sanimack").galeria__box
              img(src="img/clientes/bard.png", alt="")
              
            a(href="img/clientes/yorozu.png" data-lightbox="image" data-title="Sanimack").galeria__box
              img(src="img/clientes/yorozu.png", alt="")
              
            a(href="img/clientes/zodiac.png" data-lightbox="image" data-title="Sanimack").galeria__box
              img(src="img/clientes/zodiac.png", alt="")
