.home__footer.ptb3
  .ed-container
    .ed-item.tablet-50.web-25
      h3 Nosotros
      img.logo--footer(src="img/LogoSanimack-white.png", alt="Sanimack, cocinas indsutriales")
      p En Sanimack generamos proyectos de cocinas industriales e institucionales; fabricación de equipos de acero inoxidable de la más alta calidad; asesoramos y suministramos equipos de marcas de alta eficiencia para preparar y servir alimentos en maquiladoras, restaurantes, industria nacional, hospitales, hoteles.
    .ed-item.tablet-50.web-25
      .home__footer--productos
        h3 Productos
        ul
          li: a(href="campanas-cocinas-industrales.html") Campanas
          li: a(href="equipos-coccion-industriales.html") Equipo de Cocción
          li: a(href="equipos-para-bar.html") Equipo para Bar
          li: a(href="estanteria.html") Estantería
          li: a(href="fregaderos.html") Fregaderos
          li: a(href="gabinetes.html") Gabinetes 
          li: a(href="lavamanos.html") Lavamanos
          li: a(href="mesas-loza-sucia-limpia.html") Mesas de Loza Sucia y Limpia
          li: a(href="mesas-de-trabajo-industriales.html") Mesas de Trabajo
          li: a(href="rejillas-y-registros.html") Rejillas y Registros
          li: a(href="repisas.html") Repisas
          li: a(href="producto.html") Trampas de Grasa
    .ed-item.tablet-50.web-25
      h3 Facebook
      <div class="fb-page" data-href="https://www.facebook.com/SanimackCocinasIndustriales/" data-tabs="timeline" data-height="350" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/SanimackCocinasIndustriales/"><a href="https://www.facebook.com/SanimackCocinasIndustriales/">Sanimack Cocinas Industriales</a></blockquote></div></div>
    .ed-item.tablet-50.web-25  
      h3 Contacto
      .footer__form--container
        form.footer__form(action="http://efrix.net/form/sanimack-by-mail.php" method="post")
          ul
            li: input(type="text" name="nombre" placeholder="NOMBRE" required)
            li: input(type="text" name="correo" placeholder="MAIL" required)
            li: input(type="text" name="telefono" placeholder="TELÉFONO" required)
            li: textarea(rows="6"  name="mensaje" placeholder="MENSAJE" required)
            li: input.btn-send(type="submit" value="Enviar" id="boton")
