.ed-container
  .ed-item
    nav
      #toggle-menu Menu
      ul.menu-principal
        block menu-inicio
          li: a(href="index.html") Inicio 
        block menu-nosotros
          li: a(href="nosotros.html") Quienes Somos
        block menu-servicios
          li: a(href="servicios.html") Servicios
        block menu-productos
          li: a(href="productos.html") Productos
        block menu-galeria
          li: a(href="galeria.html") Galería
        block menu-contacto
          li: a(href="contacto.html") Contacto
.ed-container
  .ed-item.web-25.movil-main-center
    .logo
      a(href="index.html")
       img(src="img/cocinas-industriales-monterrey2.png", alt="")
  .ed-item.web-75.web-cross-center
    .tel-and-social.movil-main-center.web-cross-center.web-main-end
      .social 
        a.icon-correo(href="mailto:contacto@sanimack.com")
      .social 
        a.icon-google-plus(href="https://plus.google.com/u/0/108129341836590509999/posts" target="_blank")
      .social 
        a.icon-facebook(href="https://www.facebook.com/SanimackCocinasIndustriales/" target="_blank")
      .social
        a.icon-twitter(href="https://twitter.com/Sanimack2" target="_blank")
      .social
        a.icon-instagram(href="https://www.instagram.com/sanimack/" target="_blank")
      .social 
        p: a(href="tel:+5210908969") Llámanos al <br> <span class="header-phone">al 10908969 y 10908887</span>
      
