.inicio__banner
  .ed-container
    .ed-item
      .slider-wrapper.theme-default.mt2
        #slider.nivoSlider
          img(src="img/s1.png", alt="")
          img(src="img/s2.png", alt="")
          img(src="img/s3.png", alt="")
