.inicio__marcas
  .ed-container
    .ed-item
      h1 Marcas
      #owl-marcas
        a(href="http://www.apwwyott.com/" taget="_blank").item-marcas
          img(src="img/galeria/marcas/apwyott.png", alt="")
        a(href="http://www.asberprofessional.com/Inicio.aspx" taget="_blank").item-marcas
          img(src="img/galeria/marcas/asber.png", alt="")
        a(href="http://www.bakerspride.com/" target="_blank").item-marcas
          img(src="img/galeria/marcas/bakers.png", alt="")
        a(href="http://www.bohn.com.mx/" target="_blank").item-marcas
          img(src="img/galeria/marcas/bohn.png", alt="")
        a(href="http://www.fisher-mfg.com/" target="_blank").item-marcas
          img(src="img/galeria/marcas/fisher.png", alt="")
        a(href="http://www.greenheck.com/products/category/6?lang=es_ES" target="_blank").item-marcas
          img(src="img/galeria/marcas/greenheck.png", alt="")
        a(href="http://www.hatcocorp.com/" target="_blank").item-marcas
          img(src="img/galeria/marcas/hatco.png", alt="")
        a(href="http://www.hobartcorp.com/" target="_blank").item-marcas
          img(src="img/galeria/marcas/hobart.png", alt="")
        a(href="http://es.hoshizaki-europe.com/index/home/" target="_blank").item-marcas
          img(src="img/galeria/marcas/hoshizaki.png", alt="")
        a(href="http://www.imperialrange.com/" target="_blank").item-marcas
          img(src="img/galeria/marcas/imperial.png", alt="")
        a(href="http://www.insinkerator.com/en-us/Pages/default.aspx" target="_blank").item-marcas
          img(src="img/galeria/marcas/insinkerator.png", alt="")
        a(href="http://www.jacksonwws.com/" target="_blank").item-marcas
          img(src="img/galeria/marcas/jakson.png", alt="")
        a(href="http://www.san-son.com/" target="_blank").item-marcas
          img(src="img/galeria/marcas/sanson.png", alt="")
        a(href="http://true-residential.com" target="_blank").item-marcas
          img(src="img/galeria/marcas/true.png", alt="")
        a(href="https://www.tsbrass.com/" target="_blank").item-marcas
          img(src="img/galeria/marcas/tys.png", alt="")
        a(href="http://www.vulcanequipment.com/" target="_blank").item-marcas
          img(src="img/galeria/marcas/vulcan.png", alt="")
      h1 Clientes
      #owl-clientes
        
        a(href="galeria.html").item-clientes
          img(src="img/clientes/ford.png", alt="")     
        
        a(href="galeria.html").item-clientes
          img(src="img/clientes/nokia.png", alt="")
                    
        a(href="galeria.html").item-clientes
          img(src="img/clientes/carrier.png", alt="")
        
        a(href="galeria.html").item-clientes
          img(src="img/clientes/denso.png", alt="")
                
        a(href="galeria.html").item-clientes
          img(src="img/clientes/kraft.png", alt="")
        
        a(href="galeria.html").item-clientes
          img(src="img/clientes/lennox.png", alt="")
        
        a(href="galeria.html").item-clientes
          img(src="img/clientes/bard.png", alt="")
        
        a(href="galeria.html").item-clientes
          img(src="img/clientes/yorozu.png", alt="")
        
        a(href="galeria.html").item-clientes
          img(src="img/clientes/zodiac.png", alt="")





//
  .inicio__marcas
    .ed-container
      .ed-item
        h1 Marcas
        .marca__container
          a(href="http://www.apwwyott.com/").marca__box
            img(src="img/galeria/marcas/apwyott.png", alt="")
          a(href="http://www.asberprofessional.com/Inicio.aspx").marca__box
            img(src="img/galeria/marcas/asber.png", alt="")
          a(href="http://www.bakerspride.com/").marca__box
            img(src="img/galeria/marcas/bakers.png", alt="")
          a(href="http://www.bohn.com.mx/").marca__box
            img(src="img/galeria/marcas/bohn.png", alt="")
          a(href="http://www.fisher-mfg.com/").marca__box
            img(src="img/galeria/marcas/fisher.png", alt="")
          a(href="http://www.greenheck.com/products/category/6?lang=es_ES").marca__box
            img(src="img/galeria/marcas/greenheck.png", alt="")
          a(href="http://www.hatcocorp.com/").marca__box
            img(src="img/galeria/marcas/hatco.png", alt="")
          a(href="http://www.hobartcorp.com/").marca__box
            img(src="img/galeria/marcas/hobart.png", alt="")
          a(href="http://es.hoshizaki-europe.com/index/home/").marca__box
            img(src="img/galeria/marcas/hoshizaki.png", alt="")
          a(href="http://www.imperialrange.com/").marca__box
            img(src="img/galeria/marcas/imperial.png", alt="")
          a(href="http://www.insinkerator.com/en-us/Pages/default.aspx").marca__box
            img(src="img/galeria/marcas/insinkerator.png", alt="")
          a(href="http://www.jacksonwws.com/").marca__box
            img(src="img/galeria/marcas/jakson.png", alt="")
          a(href="http://www.san-son.com/").marca__box
            img(src="img/galeria/marcas/sanson.png", alt="")
          a(href="http://true-residential.com").marca__box
            img(src="img/galeria/marcas/true.png", alt="")
          a(href="https://www.tsbrass.com/").marca__box
            img(src="img/galeria/marcas/tys.png", alt="")
          a(href="http://www.vulcanequipment.com/").marca__box
            img(src="img/galeria/marcas/vulcan.png", alt="")
