.inicio__productos-and-header.mtb5
  .ed-container
    .ed-item
    .ed-item.web-main-center.mtb2
      .inicio__nosotros.mb4
        img(src="img/cocinas-industriales-monterrey2.png", alt="")
    .ed-item
      p En Sanimack S.A. de C.V. brindamos soluciones para sus proyectos de cocinas institucionales, somos una empresa líder en el área de diseño, manufactura e instalación de cocinas que ofrece las más completas e innovadoras propuestas en el mercado de equipos en acero inoxidable brindando todo el apoyo y herramientas necesarias en la conceptualización y elaboración de su proyecto, asegurando la mejor calidad en su diseño, fabricación, instalación y servicio.
