.inicio__breaker.mtb5
  .ed-container
    .ed-item
      h2.flavor-text.mtb3  "Proyectamos, fabricamos y suministramos cocinas industriales e institucionales, diseñamos propuestas que se ajusten a sus necesidades."
