.inicio__productos-and-header.mtb5
  .ed-container
    .ed-item.web-30
      .inicio__productos
        h2.tl.inicio__nosotros--title Categorías
        ul
          li: a(href="#") Campanas
          li: a(href="#") Equipo de Coccion
          li: a(href="#") Equipo para Bar
          li: a(href="#") Estanteria
          li: a(href="#") Fregaderos
          li: a(href="#") Gabinetes 
          li: a(href="#") Lavamanos
          li: a(href="#") Mesas de Loza Sucia y Limpia
          li: a(href="#") Mesas de Trabajo
          li: a(href="#") Rejillas y Registros
          li: a(href="#") Repisas
          li: a(href="#") Trampas de Grasa

    .ed-item.web-70
      h2.tl.inicio__nosotros--title Nosotros
      .ed-container
        .ed-item.web-main-center.mtb2
          .inicio__nosotros.mb4
            img(src="img/cocinas-industriales-monterrey2.png", alt="")
        .ed-item
          p En Sanimack S.A. de C.V. solucionamos la logística para sus proyectos de cocinas institucionales, somos una empresa líder en el área de diseño, manufactura e instalación de cocinas institucionales que ofrece las más completas e innovadoras propuestas en el mercado de equipos en acero inoxidable brindando todo el apoyo y herramientas necesarias en la conceptualización y elaboración de su proyecto, asegurando la mejor calidad en su diseño, fabricación, instalación y servicio.
