.inicio__banner
  .ed-container
    .ed-item
      .slider-wrapper.theme-default.mt2
        #slider.nivoSlider
          img(src="img/slider.jpg", alt="")
          img(src="img/slider2.jpg", alt="")
          img(src="img/slider3.jpg", alt="")
          img(src="img/s4.png", alt="")
