script(src="js/jquery.nivo.slider.pack.js")
link(rel="stylesheet", href="css/nivo-slider.css")
link(rel="stylesheet", href="themes/bar/bar.css")
link(rel="stylesheet", href="themes/dark/dark.css")
link(rel="stylesheet", href="themes/default/default.css")
link(rel="stylesheet", href="themes/light/light.css")
