.nosotros__description--mvp.pt3
  .ed-container
    .ed-item.web-45
      h2  Sanimack S.A. de C.V.
      p Suministramos los mejores equipos de marca y ofrecemos el servicio en sus instalaciones. algunos de nuestros equipos son barras de meseros y cocineros, barras de autoservicio, fregaderos, campanas de extracción, mesas de loza sucia/limpia, carros multiples, racks, gabinetes abiertos y cerrados, equipos para bar, mesas de trabajo, repisas, mesas con tarja, trampas de grasa, charolas c/rejilla entre otros más.
      
      p Nuestra empresa tiene experiencia a nivel nacional y nuestros proyectos son suministrados e instalados "llave en mano".
    .ed-item.web-10
    .ed-item.web-45
      h2 Misión
      p  Sanimack S.A. DE C.V. Empresa diseñada para generar proyectos de cocinas industriales e institucionales; fabricación con calidad del equipo de acero inoxidable; asesorar y suministrar equipo de marca de alta eficiencia; para preparar y servir alimentos para maquiladoras, restaurantes, industria nacional, hospitales, hoteles, contando con personal altamente capacitado, para asegurar la confianza, calidad y satisfacción de nuestros clientes.
      
      h2 Visión
      p  Ser una empresa confiable a nivel nacional para el suministro de cocinas industriales e institucionales fabricando el mejor acero inoxidable manejando los mejores equipos de marca. Una buena coordinación con la obra para la instalación, pruebas y arranque de los equipos. Así garantizando el mejor servicio de entrega para satisfacción del cliente.
      
      h2 Políticas de calidad.
      p Somos una empresa de cocinas industriales e institucionales que busca la satisfacción de nuestros clientes atraves de la confianza calidad y buen servicio con el apoyo de nuestro personal altamente calificado.
