.producto__banner.ptb3
  .ed-container
    .ed-item
      header(role="main")
        h1 Equipos de Cocción
.prodcto__imagen
  .ed-container
    .ed-item
      .slider-wrapper.theme-default
        #slider.nivoSlider
          img(src="img/galeria/equipo-coccion1.png", alt="")
          img(src="img/galeria/equipo-coccion2.png", alt="")
          img(src="img/galeria/equipo-coccion3.png", alt="")
          img(src="img/galeria/equipo-coccion4.png", alt="")
          img(src="img/galeria/equipo-coccion5.png", alt="")
.producto__tabla
  .ed-container
    .ed-item
      table.tg(style='undefined;table-layout: fixed;')
        colgroup
          col(style='width: 5%')
          col(style='width: 10%')
          col(style='width: 5%')
          col(style='width: 5%')
          col(style='width: 5%')
          col(style='width: 5%')
          col(style='width: 5%')
          col(style='width: 5%')
        tr
          th.tg-rb0r(colspan='8') Calienta Lonches
        tr
          td.tg-5y5n Modelo
          td.tg-5y5n Descripción
          td.tg-5y5n SS
          td.tg-5y5n SM
          td.tg-5y5n SE
          td.tg-5y5n A
          td.tg-c57o B
          td.tg-c57o C
        tr
          td.tg-c7d0 SS4-2L
          td.tg-zlxb(rowspan='3') Calienta lonches
          td.tg-zlxb(rowspan='3')
            | x
            br
          td.tg-zlxb(rowspan='3') x
          td.tg-zlxb(rowspan='3') x
          td.tg-1uaf 1.29
          td.tg-s6z2(rowspan='3') 0.74
          td.tg-s6z2(rowspan='3') 0.91
        tr
          td.tg-c7d0 SS5-6L
          td.tg-1uaf 1.7
        tr
          td.tg-c7d0 SS6-9L
          td.tg-1uaf 2.1
        tr
          td.tg-5y5n(colspan='8')
        tr
          td.tg-c7d0 SS4-2LE
          td.tg-zlxb(rowspan='3') Calienta lonches electricos
          td.tg-zlxb(rowspan='3') x
          td.tg-zlxb(rowspan='3') x
          td.tg-zlxb(rowspan='3') x
          td.tg-1uaf 1.29
          td.tg-zlxb(rowspan='3') 0.74
          td.tg-zlxb(rowspan='3') 0.91
        tr
          td.tg-mtwr SS5-6LE
          td.tg-h0te 1.7
        tr
          td.tg-mtwr SS6-9LE
          td.tg-h0te 2.1
        tr
          td.tg-c57o(colspan='8')
        tr
          td.tg-mtwr SS4-2LP
          td.tg-zlxb(rowspan='3') Calienta lonches con parrilla
          td.tg-zlxb(rowspan='3') x
          td.tg-zlxb(rowspan='3') x
          td.tg-zlxb(rowspan='3') x
          td.tg-h0te 1.29
          td.tg-zlxb(rowspan='3') 0.74
          td.tg-zlxb(rowspan='3') 0.91
        tr
          td.tg-mtwr SS5-6LP
          td.tg-h0te 1.7
        tr
          td.tg-mtwr SS6-9LP
          td.tg-h0te 2.1
.producto__boton-back
  .ed-container
    .ed-item
      a(href="productos.html").boton-back Regresar
