.producto__banner.ptb3
  .ed-container
    .ed-item
      header(role="main")
        h1 Estantería
.prodcto__imagen
  .ed-container
    .ed-item
      .slider-wrapper.theme-default
        #slider.nivoSlider
          img(src="img/galeria/estanteria01.png", alt="")
          img(src="img/galeria/estanteria02.png", alt="")
.producto__tabla
  .ed-container
    .ed-item
      table.tg(style='undefined;table-layout: fixed;')
       colgroup
         col(style='width: 5%')
         col(style='width: 10%')
         col(style='width: 5%')
         col(style='width: 5%')
         col(style='width: 5%')
         col(style='width: 5%')
         col(style='width: 5%')
         col(style='width: 5%')
       tr
         th.tg-rb0r(colspan='8') Estantes
       tr
         td.tg-5y5n Modelo
         td.tg-5y5n Descripción
         td.tg-5y5n SS
         td.tg-5y5n SM
         td.tg-5y5n SE
         td.tg-5y5n A
         td.tg-c57o B
         td.tg-c57o C
       tr
         td.tg-cxkv SS2-8EA1
         td.tg-zlxb(rowspan='2') Estante para almacén (4 entrepaños)
         td.tg-zlxb(rowspan='2') x
         td.tg-zlxb(rowspan='2') x
         td.tg-zlxb(rowspan='2') x
         td.tg-tdyy 0.85
         td.tg-zlxb 0.5
         td.tg-zlxb 1.8
       tr
         td.tg-cxkv SS3-8EA1
         td.tg-tdyy 1.15
         td.tg-zlxb 0.5
         td.tg-zlxb 1.8
       tr
         td.tg-5y5n(colspan='8')
       tr
         td.tg-cxkv SS2-8EA2
         td.tg-zlxb(rowspan='2') Estante para almacén angosto (4 entrepaños)
         td.tg-zlxb(rowspan='2') x
         td.tg-zlxb(rowspan='2') x
         td.tg-zlxb(rowspan='2') x
         td.tg-tdyy 0.85
         td.tg-zlxb 0.37
         td.tg-zlxb 1.8
       tr
         td.tg-cxkv SS3-8EA2
         td.tg-tdyy 1.15
         td.tg-zlxb 0.37
         td.tg-zlxb 1.8
       tr
         td.tg-5y5n
         td.tg-5y5n
         td.tg-5y5n
         td.tg-5y5n
         td.tg-5y5n
         td.tg-7nfe
         td.tg-ci37
         td.tg-ci37
       tr
         td.tg-cxkv SS2-8EM1
         td.tg-cxkv(rowspan='2') Estante marimba (4 entrepaños)
         td.tg-zlxb(rowspan='2') x
         td.tg-zlxb(rowspan='2') x
         td.tg-zlxb(rowspan='2') x
         td.tg-tdyy 0.85
         td.tg-zlxb 0.6
         td.tg-zlxb 1.8
       tr
         td.tg-cxkv SS3-8EM1
         td.tg-tdyy 1.15
         td.tg-zlxb 0.6
         td.tg-zlxb 1.8
       tr
         td.tg-5y5n
         td.tg-5y5n
         td.tg-5y5n
         td.tg-5y5n
         td.tg-5y5n
         td.tg-7nfe
         td.tg-ci37
         td.tg-ci37
       tr
         td.tg-cxkv SS2-8EM2
         td.tg-zlxb(rowspan='2') Estante marimba angosto (4 entrepaños)
         td.tg-zlxb(rowspan='2') x
         td.tg-zlxb(rowspan='2') x
         td.tg-zlxb(rowspan='2') x
         td.tg-tdyy 0.85
         td.tg-zlxb 0.45
         td.tg-zlxb 1.8
       tr
         td.tg-cxkv SS3-8EM2
         td.tg-tdyy 1.15
         td.tg-zlxb 0.45
         td.tg-zlxb 1.8
       tr
         td.tg-5y5n
         td.tg-5y5n
         td.tg-5y5n
         td.tg-5y5n
         td.tg-5y5n
         td.tg-7nfe
         td.tg-ci37
         td.tg-ci37
       tr
         td.tg-3we0 SS2-8EP1
         td.tg-zlxb(rowspan='2') Estante marimba angosto (4 entrepaños)
         td.tg-zlxb(rowspan='2') x
         td.tg-zlxb(rowspan='2') x
         td.tg-zlxb(rowspan='2') x
         td.tg-cwv5 0.85
         td.tg-i81m 0.5
         td.tg-i81m 1.8
       tr
         td.tg-3we0 SS3-8E91
         td.tg-cwv5 1.15
         td.tg-i81m 0.5
         td.tg-i81m 1.8
.producto__boton-back
  .ed-container
    .ed-item
      a(href="productos.html").boton-back Regresar
