.producto__banner.ptb3
  .ed-container
    .ed-item
      header(role="main")
        h1 Repisas y Colgadores
.prodcto__imagen
  .ed-container
    .ed-item
      .slider-wrapper.theme-default
        #slider.nivoSlider
          img(src="img/galeria/repisa1.png", alt="")
.producto__tabla
  .ed-container
    .ed-item
      table.tg(style='undefined;table-layout: fixed;')
        colgroup
          col(style='width: 5%')
          col(style='width: 10%')
          col(style='width: 5%')
          col(style='width: 5%')
          col(style='width: 5%')
          col(style='width: 5%')
          col(style='width: 5%')
          col(style='width: 5%')
        tr
          th.tg-rb0r(colspan='8') Repisas colgaderos y alacenas
        tr
          td.tg-5y5n Modelo
          td.tg-5y5n Descripción
          td.tg-5y5n SS
          td.tg-5y5n SM
          td.tg-5y5n SE
          td.tg-5y5n A
          td.tg-c57o B
          td.tg-c57o C
        tr
          td.tg-cxkv SS2-6RP
          td.tg-zlxb(rowspan='5') Repisa de pared
          td.tg-zlxb(rowspan='5') x
          td.tg-zlxb(rowspan='5') x
          td.tg-zlxb(rowspan='5')
          td.tg-tdyy 0.78
          td.tg-zlxb(rowspan='5') 0.3
          td.tg-zlxb(rowspan='5')
        tr
          td.tg-cxkv SS3-6RP
          td.tg-tdyy 1.09
        tr
          td.tg-cxkv SS4-6RP
          td.tg-tdyy 1.39
        tr
          td.tg-cxkv SS5-6RP
          td.tg-tdyy 1.7
        tr
          td.tg-3we0 SS6-6RP
          td.tg-cwv5 2
        tr
          td.tg-c57o(colspan='8')
        tr
          td.tg-3we0 SS2-GRPP
          td.tg-zlxb(rowspan='5') Repisa de pared sobre pedestales
          td.tg-zlxb(rowspan='5') x
          td.tg-zlxb(rowspan='5') x
          td.tg-3we0(rowspan='5')
          td.tg-cwv5 0.78
          td.tg-zlxb(rowspan='5') 0.3
          td.tg-3we0(rowspan='5')
        tr
          td.tg-3we0 SS3-GRPP
          td.tg-cwv5 1.09
        tr
          td.tg-3we0 SS4-GRPP
          td.tg-cwv5 1.39
        tr
          td.tg-3we0 SS5-GRPP
          td.tg-cwv5 1.7
        tr
          td.tg-3we0 SS6-GRPP
          td.tg-cwv5 2
        tr
          td.tg-c57o(colspan='8')
        tr
          td.tg-3we0 SS2-6GRPC
          td.tg-zlxb(rowspan='5') Repista central sobre pedestales
          td.tg-zlxb(rowspan='5') x
          td.tg-zlxb(rowspan='5') x
          td.tg-3we0(rowspan='5')
          td.tg-cwv5 0.78
          td.tg-zlxb(rowspan='5') 0.3
          td.tg-3we0(rowspan='5')
        tr
          td.tg-3we0 SS3-6GRPC
          td.tg-cwv5 1.09
        tr
          td.tg-3we0 SS4-6GRPC
          td.tg-cwv5 1.39
        tr
          td.tg-3we0 SS5-6GRPC
          td.tg-cwv5 1.7
        tr
          td.tg-3we0 SS6-6GRPC
          td.tg-cwv5 2
        tr
          td.tg-c57o(colspan='8')
        tr
          td.tg-cxkv SS3-3RM
          td.tg-zlxb Repisa de muro bajo ml.
          td.tg-zlxb x
          td.tg-zlxb x
          td.tg-zlxb
          td.tg-tdyy 1
          td.tg-zlxb 0.2
          td.tg-zlxb 0.6
        tr
          td.tg-5y5n(colspan='8')
        tr
          td.tg-cxkv SS3-7RU
          td.tg-zlxb(rowspan='4') Colhadero de utensilios
          td.tg-zlxb(rowspan='4') x
          td.tg-zlxb(rowspan='4') x
          td.tg-zlxb(rowspan='4')
          td.tg-tdyy 1.12
          td.tg-zlxb(rowspan='4') 0.3
          td.tg-zlxb(rowspan='4') 0.35
        tr
          td.tg-cxkv SS5-GRU
          td.tg-tdyy 1.7
        tr
          td.tg-cxkv SS6-GRU
          td.tg-tdyy 2
        tr
          td.tg-cxkv SS8-0RU
          td.tg-tdyy 2.44
        tr
          td.tg-5y5n(colspan='8')
        tr
          td.tg-cxkv SS5-GRUC
          td.tg-zlxb(rowspan='2') Colgadero de utensilios central
          td.tg-zlxb(rowspan='2') x
          td.tg-zlxb(rowspan='2') x
          td.tg-zlxb(rowspan='2')
          td.tg-tdyy 1.7
          td.tg-zlxb(rowspan='2') 0.3
          td.tg-zlxb(rowspan='2') 0.35
        tr
          td.tg-cxkv SS5-GRUC
          td.tg-tdyy 2
        tr
          td.tg-c57o(colspan='8')
        tr
          td.tg-3we0 SS3-0RA
          td.tg-zlxb(rowspan='2') Alacena de pared
          td.tg-zlxb(rowspan='2') x
          td.tg-zlxb(rowspan='2') x
          td.tg-zlxb(rowspan='2')
          td.tg-tdyy 0.9
          td.tg-zlxb(rowspan='2') 0.35
          td.tg-zlxb(rowspan='2') 0.6
        tr
          td.tg-3we0 SS3-9RA
          td.tg-tdyy 1.2

.producto__boton-back
  .ed-container
    .ed-item
      a(href="productos.html").boton-back Regresar
