.producto__banner.ptb3
  .ed-container
    .ed-item
      header(role="main")
        h1 Rejillas y Registros
.prodcto__imagen
  .ed-container
    .ed-item
      .slider-wrapper.theme-default
        #slider.nivoSlider
          img(src="img/galeria/rejilla1.png", alt="")
          img(src="img/galeria/rejilla2.png", alt="")
          img(src="img/galeria/rejilla3.png", alt="")
          img(src="img/galeria/rejilla4.png", alt="")
          img(src="img/galeria/rejilla5.png", alt="")
          img(src="img/galeria/rejilla6.png", alt="")
          img(src="img/galeria/rejilla7.png", alt="")
.producto__tabla
  .ed-container
    .ed-item
      table.tg(style='undefined;table-layout: fixed;')
        colgroup
          col(style='width: 5%')
          col(style='width: 10%')
          col(style='width: 5%')
          col(style='width: 5%')
          col(style='width: 5%')
          col(style='width: 5%')
          col(style='width: 5%')
          col(style='width: 5%')
        tr
          th.tg-rb0r(colspan='8')
            | Rejillas y registros
            br
        tr
          td.tg-5y5n Modelo
          td.tg-5y5n Descripción
          td.tg-5y5n SS
          td.tg-5y5n SM
          td.tg-5y5n SE
          td.tg-5y5n A
          td.tg-c57o B
          td.tg-c57o C
        tr
          td.tg-cxkv 550-8DR9
          td.tg-zlxb(rowspan='3') Charola con rejilla para drenaje perforada
          td.tg-zlxb(rowspan='3') x
          td.tg-zlxb(rowspan='3') x
          td.tg-zlxb(rowspan='3') x
          td.tg-tdyy 0.24
          td.tg-zlxb(rowspan='3') 0.24
          td.tg-zlxb(rowspan='3') 0.05
        tr
          td.tg-cxkv SS3-0DRP
          td.tg-tdyy 0.91
        tr
          td.tg-cxkv SS5-8DRP
          td.tg-tdyy 1.77
        tr
          td.tg-5y5n(colspan='8')
        tr
          td.tg-3we0 SS1-0DSP
          td.tg-i81m Sink de piso
          td.tg-i81m x
          td.tg-i81m x
          td.tg-i81m x
          td.tg-cwv5 0.3
          td.tg-i81m 0.35
          td.tg-i81m 0.2
.producto__boton-back
  .ed-container
    .ed-item
      a(href="productos.html").boton-back Regresar
