.producto__banner.ptb3
  .ed-container
    .ed-item
      header(role="main")
        h1 Equipos para bar
.prodcto__imagen
  .ed-container
    .ed-item
      .slider-wrapper.theme-default
        #slider.nivoSlider
          img(src="img/galeria/equipos-bar01.png", alt="")
          img(src="img/galeria/equipos-bar02.png", alt="")
.producto__tabla
  .ed-container
    .ed-item
        table.tg(style='undefined;table-layout: fixed;')
          colgroup
            col(style='width: 5%')
            col(style='width: 10%')
            col(style='width: 5%')
            col(style='width: 5%')
            col(style='width: 5%')
            col(style='width: 5%')
            col(style='width: 5%')
            col(style='width: 5%')
          tr
            th.tg-rb0r(colspan='8')
              | Equipo de Bar
              br
          tr
            td.tg-5y5n Modelo
            td.tg-5y5n Descripción
            td.tg-5y5n SS
            td.tg-5y5n SM
            td.tg-5y5n SE
            td.tg-5y5n A
            td.tg-c57o B
            td.tg-c57o C
          tr
            td.tg-cxkv SS1-6QMB
            td.tg-zlxb Mesa para bote de basura
            td.tg-zlxb x
            td.tg-zlxb x
            td.tg-zlxb x
            td.tg-tdyy 0.48
            td.tg-zlxb 0.56
            td.tg-zlxb 0.76
          tr
            td.tg-5y5n(colspan='8')
          tr
            td.tg-cxkv SS1-3QML
            td.tg-zlxb(rowspan='2') Mesa para licuar con tarjeta 
            td.tg-zlxb(rowspan='2') x
            td.tg-zlxb(rowspan='2') x
            td.tg-zlxb(rowspan='2') x
            td.tg-tdyy 0.4
            td.tg-zlxb(rowspan='2') 0.56
            td.tg-zlxb(rowspan='2') 0.76
          tr
            td.tg-cxkv SS2-5QML
            td.tg-tdyy 0.75
          tr
            td.tg-c57o(colspan='8')
          tr
            td.tg-3we0 SS2-5QUC
            td.tg-zlxb(rowspan='3')
              | Unidad coctelera
              br
            td.tg-zlxb(rowspan='3') x
            td.tg-zlxb(rowspan='3') x
            td.tg-zlxb(rowspan='3') x
            td.tg-cwv5 0.75
            td.tg-zlxb(rowspan='3') 0.56
            td.tg-zlxb(rowspan='3') 0.76
          tr
            td.tg-3we0 SS3-0QUC
            td.tg-cwv5 0.9
          tr
            td.tg-3we0 SS3-6QUC
            td.tg-cwv5 1.1
          tr
            td.tg-c57o(colspan='8')
          tr
            td.tg-3we0 SS2-5QMT
            td.tg-zlxb(rowspan='2') Mesa de trabajo de bar
            td.tg-zlxb(rowspan='2') x
            td.tg-zlxb(rowspan='2') x
            td.tg-zlxb(rowspan='2') x
            td.tg-cwv5 0.75
            td.tg-zlxb(rowspan='2') 0.56
            td.tg-zlxb(rowspan='2') 0.76
          tr
            td.tg-3we0 SS3-6QMT
            td.tg-cwv5 1.1
          tr
            td.tg-c57o(colspan='8')
          tr
            td.tg-3we0 SS3-6F1
            td.tg-zlxb(rowspan='2') Fregadero para bar 
            td.tg-zlxb(rowspan='5') x
            td.tg-3we0(rowspan='5')
            td.tg-3we0(rowspan='5')
            td.tg-cwv5 1.1
            td.tg-zlxb(rowspan='5') 0.56
            td.tg-zlxb(rowspan='5') 0.76
          tr
            td.tg-3we0 SS4-6F1
            td.tg-cwv5 1.4
          tr
            td.tg-3we0 SS3-6F2
            td.tg-zlxb(rowspan='2') Fregadero para bar 2 tarjas
            td.tg-cwv5 1.1
          tr
            td.tg-3we0 SS4-6F2
            td.tg-cwv5 1.4
          tr
            td.tg-3we0 SS5-6F3
            td.tg-zlxb Fregadero para bar 3 tarjas
            td.tg-cwv5 1.7
          tr
            td.tg-c57o(colspan='8')
          tr
            td.tg-cxkv SS1-6QG
            td.tg-zlxb(rowspan='3')
              | Gabinete de bar
              br
            td.tg-zlxb(rowspan='3') x
            td.tg-zlxb(rowspan='3') x
            td.tg-zlxb(rowspan='3')
            td.tg-tdyy 0.48
            td.tg-zlxb(rowspan='3') 0.56
            td.tg-zlxb(rowspan='3') 0.76
          tr
            td.tg-cxkv SS2-6QG
            td.tg-tdyy 0.78
          tr
            td.tg-cxkv SS3-6QG
            td.tg-tdyy 1.09
          tr
            td.tg-5y5n(colspan='8')
          tr
            td.tg-cxkv SS2-0QGR
            td.tg-zlxb Gabinete con rack para canastillas
            td.tg-zlxb x
            td.tg-zlxb x
            td.tg-zlxb
            td.tg-tdyy 0.6
            td.tg-zlxb 0.56
            td.tg-zlxb 0.76
          tr
            td.tg-5y5n(colspan='8')
          tr
            td.tg-cxkv SS2-GQH
            td.tg-zlxb Hielera 
            td.tg-zlxb x
            td.tg-zlxb x
            td.tg-zlxb x
            td.tg-tdyy 0.75
            td.tg-zlxb 0.56
            td.tg-zlxb 0.76
.producto__boton-back
  .ed-container
    .ed-item
      a(href="productos.html").boton-back Regresar
