.producto__banner.ptb3
  .ed-container
    .ed-item
      header(role="main")
        h1 Campanas
.prodcto__imagen
  .ed-container
    .ed-item
      .slider-wrapper.theme-default
        #slider.nivoSlider
          img(src="img/galeria/producto-campana01.png", alt="")
          img(src="img/galeria/producto-campana02.png", alt="")
          img(src="img/galeria/producto-campana03.png", alt="")
          img(src="img/galeria/producto-campana04.png", alt="")
.producto__tabla
  .ed-container
    .ed-item
      table.tg(style='undefined;table-layout: fixed;')
        colgroup
          col(style='width: 5%')
          col(style='width: 10%')
          col(style='width: 5%')
          col(style='width: 5%')
          col(style='width: 5%')
          col(style='width: 5%')
          col(style='width: 5%')
          col(style='width: 5%')
        tr
          th.tg-rb0r(colspan='8') Campanas
        tr
          td.tg-5y5n Modelo
          td.tg-5y5n Descripción
          td.tg-5y5n SS
          td.tg-5y5n SM
          td.tg-5y5n SE
          td.tg-5y5n A
          td.tg-c57o B
          td.tg-c57o C
        tr
          td.tg-c7d0 SS4-9K
          td.tg-ltqa(rowspan='9') Campana de extracción
          td.tg-ltqa(rowspan='9') x
          td.tg-ltqa(rowspan='9') x
          td.tg-ltqa(rowspan='9') x
          td.tg-1uaf 1.5
          td.tg-ltqa(rowspan='9') 1.15
          td.tg-zlxb(rowspan='17') 0.62
        tr
          td.tg-c7d0 SS6-6K
          td.tg-1uaf 2
        tr
          td.tg-c7d0 SS8-2K
          td.tg-1uaf 2.49
        tr
          td.tg-c7d0 SS9-8K
          td.tg-1uaf 2.99
        tr
          td.tg-mtwr SS11-4K
          td.tg-h0te 3.48
        tr
          td.tg-mtwr SS13-1K
          td.tg-h0te 3.98
        tr
          td.tg-mtwr SS14-7K
          td.tg-h0te 4.47
        tr
          td.tg-mtwr SS16-3K
          td.tg-h0te 4.97
        tr
          td.tg-mtwr SS17-9K
          td.tg-h0te 5.46
        tr
          td.tg-3we0 SS4-9KI
          td.tg-zlxb(rowspan='8') Campana de extracción industrial
          td.tg-zlxb(rowspan='8') x
          td.tg-zlxb(rowspan='8') x
          td.tg-zlxb(rowspan='8') x
          td.tg-cwv5 1.5
          td.tg-zlxb(rowspan='8') 1.29
        tr
          td.tg-3we0 SS6-6KI
          td.tg-cwv5 2
        tr
          td.tg-3we0 SS9-8KI
          td.tg-cwv5 2.49
        tr
          td.tg-3we0 SS11-4KI
          td.tg-cwv5 2.99
        tr
          td.tg-3we0 SS13-1KI
          td.tg-cwv5 3.48
        tr
          td.tg-3we0 SS14-1KI
          td.tg-cwv5 4.47
        tr
          td.tg-3we0 SS16-3KI
          td.tg-cwv5 4.97
        tr
          td.tg-3we0 SS17-9KI
          td.tg-cwv5 5.46
        tr
          td.tg-c57o(colspan='8')
        tr
          td.tg-c7d0 SS4-9KC
          td.tg-ltqa(rowspan='9') Campanas de extracción con compensación
          td.tg-ltqa(rowspan='9') x
          td.tg-ltqa(rowspan='9') x
          td.tg-ltqa(rowspan='9') x
          td.tg-1uaf 1.5
          td.tg-ltqa(rowspan='9') 1.15
          td.tg-zlxb(rowspan='18')
            | 0.62
            br
        tr
          td.tg-c7d0 SS6-6KC
          td.tg-1uaf 2
        tr
          td.tg-c7d0 SS8-2KC
          td.tg-1uaf 2.49
        tr
          td.tg-c7d0 SS9-8KC
          td.tg-1uaf 2.99
        tr
          td.tg-c7d0 SS11-4KC
          td.tg-1uaf 3.48
        tr
          td.tg-c7d0 SS13-1KC
          td.tg-1uaf 3.98
        tr
          td.tg-c7d0 SS14-7KC
          td.tg-1uaf 4.47
        tr
          td.tg-c7d0 SS16-3KC
          td.tg-1uaf 4.97
        tr
          td.tg-c7d0 SS17-9KC
          td.tg-1uaf 5.46
        tr
          td.tg-3we0 SS4-9KCI
          td.tg-zlxb(rowspan='9') Campanas de extracción con compensación industral
          td.tg-zlxb(rowspan='9') x
          td.tg-zlxb(rowspan='9') x
          td.tg-zlxb(rowspan='9') x
          td.tg-tdyy 1.5
          td.tg-zlxb(rowspan='9') 1.29
        tr
          td.tg-3we0 SS6-6KCI
          td.tg-tdyy 2
        tr
          td.tg-3we0 SS8-2KCI
          td.tg-tdyy 2.49
        tr
          td.tg-3we0 SS9-8KCI
          td.tg-tdyy 2.99
        tr
          td.tg-3we0 SS11-4KCI
          td.tg-tdyy 3.48
        tr
          td.tg-3we0 SS13-1KCI
          td.tg-tdyy 3.98
        tr
          td.tg-3we0 SS14-7KCI
          td.tg-tdyy 4.47
        tr
          td.tg-3we0 SS16-3KCI
          td.tg-tdyy 4.97
        tr
          td.tg-3we0 SS17-9KCI
          td.tg-tdyy 5.46
        tr
          td.tg-c57o(colspan='8')
        tr
          td.tg-cxkv SS2-6KCC
          td.tg-zlxb(rowspan='4') Campanas de condensación (para cafetera)
          td.tg-zlxb(rowspan='4') x
          td.tg-zlxb(rowspan='4') x
          td.tg-zlxb(rowspan='4') x
          td.tg-tdyy 0.8
          td.tg-zlxb(rowspan='4') 0.7
          td.tg-zlxb(rowspan='4') 0.3
        tr
          td.tg-cxkv SS4-8KCC
          td.tg-tdyy 1.45
        tr
          td.tg-cxkv SS5-9KCC
          td.tg-tdyy 1.8
        tr
          td.tg-cxkv SS7-5KCC
          td.tg-tdyy 2.28
        tr
          td.tg-c57o(colspan='8')
        tr
          td.tg-cxkv SS3-0KL
          td.tg-zlxb(rowspan='3') Campanas de condensación (para lavadora)
          td.tg-zlxb(rowspan='3') x
          td.tg-zlxb(rowspan='3') x
          td.tg-zlxb(rowspan='3') x
          td.tg-tdyy 0.9
          td.tg-zlxb(rowspan='3') 0.9
          td.tg-zlxb(rowspan='3') 0.6
        tr
          td.tg-cxkv 554-9KL
          td.tg-tdyy 1.5
        tr
          td.tg-cxkv SS5-7KL
          td.tg-tdyy 1.75
        tr
          td.tg-c57o(colspan='8')
        tr
          td.tg-cxkv SS4-2KCL
          td.tg-zlxb(rowspan='4') Campana de condensación (para calienta lonches)
          td.tg-zlxb(rowspan='4') x
          td.tg-zlxb(rowspan='4') x
          td.tg-zlxb(rowspan='4') x
          td.tg-tdyy 1.29
          td.tg-zlxb(rowspan='4') 0.53
          td.tg-zlxb(rowspan='4') 1.27
        tr
          td.tg-cxkv SS5-6KCL
          td.tg-tdyy 1.7
        tr
          td.tg-cxkv SS6-9KCL
          td.tg-tdyy 2.1
        tr
          td.tg-cxkv SS8-2KCL
          td.tg-tdyy 2.5
        tr
          td.tg-yw4l
          td.tg-yw4l
          td.tg-yw4l
          td.tg-yw4l
          td.tg-yw4l
          td.tg-yw4l
          td.tg-yw4l
          td.tg-yw4l
.producto__boton-back
  .ed-container
    .ed-item
      a(href="productos.html").boton-back Regresar
