.producto__banner.ptb3
  .ed-container
    .ed-item
      header(role="main")
        h1 Gabinetes
.prodcto__imagen
  .ed-container
    .ed-item
      .slider-wrapper.theme-default
        #slider.nivoSlider
          img(src="img/galeria/gabinete1.png", alt="")
          img(src="img/galeria/gabinete2.png", alt="")
          img(src="img/galeria/gabinete3.png", alt="")
.producto__tabla
  .ed-container
    .ed-item
      table.tg(style='undefined;table-layout: fixed; width: 1167px')
        colgroup
          col(style='width: 5%')
          col(style='width: 10%')
          col(style='width: 5%')
          col(style='width: 5%')
          col(style='width: 5%')
          col(style='width: 5%')
          col(style='width: 5%')
          col(style='width: 5%')
        tr
          th.tg-rb0r(colspan='8') Gabinetes
        tr
          td.tg-5y5n Modelo
          td.tg-5y5n Descripción
          td.tg-5y5n SS
          td.tg-5y5n SM
          td.tg-5y5n SE
          td.tg-5y5n A
          td.tg-c57o B
          td.tg-c57o C
        tr
          td.tg-cxkv SS3-6G
          td.tg-zlxb(rowspan='4') Gabinete
          td.tg-zlxb(rowspan='4') x
          td.tg-zlxb(rowspan='4') x
          td.tg-zlxb(rowspan='4') x
          td.tg-tdyy 1.09
          td.tg-zlxb(rowspan='4') 0.71
          td.tg-zlxb(rowspan='4') 0.91
        tr
          td.tg-cxkv SS4-6G
          td.tg-tdyy 1.39
        tr
          td.tg-cxkv SS5-6G
          td.tg-tdyy 1.7
        tr
          td.tg-cxkv SS6-6G
          td.tg-tdyy 2
        tr
          td.tg-c57o(colspan='8')
        tr
          td.tg-3we0 SS3-6GA
          td.tg-zlxb(rowspan='3')
            | Gabinete angosto
            br
          td.tg-zlxb(rowspan='3') x
          td.tg-zlxb(rowspan='3') x
          td.tg-zlxb(rowspan='3') x
          td.tg-tdyy 1.09
          td.tg-zlxb(rowspan='3') 0.45
          td.tg-zlxb(rowspan='3') 0.91
        tr
          td.tg-3we0 SS4-6GA
          td.tg-cwv5 1.39
        tr
          td.tg-3we0 SS5-6GA
          td.tg-cwv5 1.7
.producto__boton-back
  .ed-container
    .ed-item
      a(href="productos.html").boton-back Regresar
