.producto__banner.ptb3
  .ed-container
    .ed-item
      header(role="main")
        h1 Mesas de Trabajo
.prodcto__imagen
  .ed-container
    .ed-item
      .slider-wrapper.theme-default
        #slider.nivoSlider
          img(src="img/galeria/mesa-trabajo1.png", alt="")
          img(src="img/galeria/mesa-trabajo2.png", alt="")
          img(src="img/galeria/mesa-trabajo3.png", alt="")
          img(src="img/galeria/mesa-trabajo4.png", alt="")
          img(src="img/galeria/mesa-trabajo5.png", alt="")
          img(src="img/galeria/mesa-trabajo6.png", alt="")
          img(src="img/galeria/mesa-trabajo7.png", alt="")
          img(src="img/galeria/mesa-trabajo8.png", alt="")
.producto__tabla
  .ed-container
    .ed-item
      table.tg(style='undefined;table-layout: fixed;')
        colgroup
          col(style='width: 5%')
          col(style='width: 10%')
          col(style='width: 5%')
          col(style='width: 5%')
          col(style='width: 5%')
          col(style='width: 5%')
          col(style='width: 5%')
          col(style='width: 5%')
        tr
          th.tg-rb0r(colspan='8')
            | Mesa de Trabajo
            br
        tr
          td.tg-5y5n Modelo
          td.tg-5y5n Descripción
          td.tg-5y5n SS
          td.tg-5y5n SM
          td.tg-5y5n SE
          td.tg-5y5n A
          td.tg-c57o B
          td.tg-c57o C
        tr
          td.tg-cxkv SS2-6MT
          td.tg-zlxb(rowspan='5') Mesa de trabajo
          td.tg-zlxb(rowspan='5') x
          td.tg-zlxb(rowspan='5') x
          td.tg-zlxb(rowspan='5') x
          td.tg-tdyy 0.78
          td.tg-zlxb(rowspan='5') 0.71
          td.tg-zlxb(rowspan='5') 0.91
        tr
          td.tg-cxkv SS3-6MT
          td.tg-tdyy 1.09
        tr
          td.tg-cxkv SS4-6MT
          td.tg-tdyy 1.4
        tr
          td.tg-cxkv SS5-6MT
          td.tg-tdyy 1.7
        tr
          td.tg-3we0 SS6-6MT
          td.tg-cwv5 2
        tr
          td.tg-c57o
          td.tg-c57o
          td.tg-c57o
          td.tg-c57o
          td.tg-c57o
          td.tg-hv2l
          td.tg-c57o
          td.tg-c57o
        tr
          td.tg-3we0 SS2-6MC
          td.tg-zlxb(rowspan='5') Mesa central
          td.tg-zlxb(rowspan='5') x
          td.tg-zlxb(rowspan='5') x
          td.tg-zlxb(rowspan='5') x
          td.tg-cwv5 0.78
          td.tg-zlxb(rowspan='5') 0.79
          td.tg-zlxb(rowspan='5') 0.91
        tr
          td.tg-3we0 SS3-6MC
          td.tg-cwv5 1.09
        tr
          td.tg-3we0 SS4-6MC
          td.tg-cwv5 1.4
        tr
          td.tg-3we0 SS5-6MC
          td.tg-cwv5 1.7
        tr
          td.tg-3we0 SS6-6MC
          td.tg-cwv5 2
        tr
          td.tg-c57o
          td.tg-c57o
          td.tg-ozja
          td.tg-ozja
          td.tg-ozja
          td.tg-hv2l
          td.tg-ci37
          td.tg-ci37
        tr
          td.tg-3we0 SS5-6MA
          td.tg-zlxb(rowspan='2') Mesa central ancha
          td.tg-zlxb(rowspan='2') x
          td.tg-zlxb(rowspan='2') x
          td.tg-zlxb(rowspan='2') x
          td.tg-cwv5 1.7
          td.tg-zlxb(rowspan='2') 1.1
          td.tg-zlxb(rowspan='2') 0.91
        tr
          td.tg-3we0 SS6-6MA
          td.tg-cwv5 2
        tr
          td.tg-c57o
          td.tg-c57o
          td.tg-ci37
          td.tg-ci37
          td.tg-ci37
          td.tg-hv2l
          td.tg-ci37
          td.tg-ci37
        tr
          td.tg-3we0 SS2-3MB
          td.tg-i81m Mesa baja
          td.tg-zlxb x
          td.tg-zlxb x
          td.tg-zlxb x
          td.tg-cwv5 0.7
          td.tg-zlxb 0.71
          td.tg-zlxb 0.51
.producto__boton-back
  .ed-container
    .ed-item
      a(href="productos.html").boton-back Regresar
