.producto__banner.ptb3
  .ed-container
    .ed-item
      header(role="main")
        h1 Fregaderos
.prodcto__imagen
  .ed-container
    .ed-item
      .slider-wrapper.theme-default
        #slider.nivoSlider
          img(src="img/galeria/fregadero01.png", alt="")
          img(src="img/galeria/fregadero02.png", alt="")
          img(src="img/galeria/fregadero03.png", alt="")
          img(src="img/galeria/fregadero04.png", alt="")
          img(src="img/galeria/fregadero05.png", alt="")
          img(src="img/galeria/fregadero06.png", alt="")
.producto__tabla
  .ed-container
    .ed-item
      table.tg(style='undefined;table-layout: fixed;')
        colgroup
          col(style='width: 5%')
          col(style='width: 10%')
          col(style='width: 5%')
          col(style='width: 5%')
          col(style='width: 5%')
          col(style='width: 5%')
          col(style='width: 5%')
          col(style='width: 5%')
        tr
          th.tg-rb0r(colspan='8') Fregaderos
        tr
          td.tg-5y5n Modelo
          td.tg-5y5n Descripción
          td.tg-5y5n SS
          td.tg-5y5n SM
          td.tg-5y5n SE
          td.tg-5y5n A
          td.tg-c57o B
          td.tg-c57o C
        tr
          td.tg-cxkv SS2-7FG
          td.tg-zlxb Fregadero
          td.tg-zlxb(rowspan='6') x
          td.tg-zlxb(rowspan='6')
          td.tg-zlxb(rowspan='6')
          td.tg-tdyy 0.81
          td.tg-zlxb(rowspan='6') 0.71
          td.tg-zlxb(rowspan='6') 0.92
        tr
          td.tg-cxkv SS3-7FG
          td.tg-zlxb Fregadero
          td.tg-tdyy 1.12
        tr
          td.tg-cxkv SS4-3FG
          td.tg-zlxb Fregadero dos tarjas
          td.tg-tdyy 1.3
        tr
          td.tg-cxkv SS6-3FG
          td.tg-zlxb Fregadero tres tarjas
          td.tg-tdyy 1.91
        tr
          td.tg-3we0 SS7-4FG
          td.tg-i81m Fregadero dos tarjas con escurridero
          td.tg-cwv5 2.26
        tr
          td.tg-3we0 SS9-4FG
          td.tg-i81m Fregadero tres tarjas con escurridero
          td.tg-cwv5 2.87
        tr
          td.tg-c57o(colspan='8')
        tr
          td.tg-3we0 SS3-6FC
          td.tg-zlxb Fregadero dos tarjas chicas
          td.tg-zlxb(rowspan='3') x
          td.tg-zlxb(rowspan='3')
          td.tg-zlxb(rowspan='3')
          td.tg-cwv5 1.09
          td.tg-zlxb(rowspan='3') 0.71
          td.tg-zlxb(rowspan='3') 0.92
        tr
          td.tg-3we0 SS5-2FC
          td.tg-i81m Fregadero tres tarjas chicas
          td.tg-cwv5 1.58
        tr
          td.tg-3we0 SS8-AFC
          td.tg-zlxb Fregadero tres tarjas chicas con escurridero
          td.tg-cwv5 2.57
.producto__boton-back
  .ed-container
    .ed-item
      a(href="productos.html").boton-back Regresar
