.productos__productos.mt3.ptb5
  .ed-container
    .ed-item
      .producto__container
        a(href="campanas-cocinas-industrales.html").producto__box
          img(src="img/prouctos-gal/Sanimack46.png", alt="")
          h1  Campanas
        a(href="equipos-coccion-industriales.html").producto__box
          img(src="img/prouctos-gal/Sanimack43.png", alt="")
          h1 Equipos de Cocción
        a(href="equipos-para-bar.html").producto__box
          img(src="img/prouctos-gal/Sanimack42.png", alt="")
          h1 Equipos para Bar
        a(href="estanteria.html").producto__box
          img(src="img/prouctos-gal/Sanimack35.png", alt="")
          h1 Estantería
        a(href="fregaderos.html").producto__box
          img(src="img/prouctos-gal/Sanimack44.png", alt="")
          h1 Fregaderos
        a(href="gabinetes.html").producto__box
          img(src="img/prouctos-gal/Sanimack40.png", alt="")
          h1 Gabinetes
        a(href="lavamanos.html").producto__box
          img(src="img/prouctos-gal/Sanimack31.png", alt="")
          h1 Lavamanos
        a(href="mesas-loza-sucia-limpia.html").producto__box
          img(src="img/prouctos-gal/Sanimack38.png", alt="")
          h1 Mesas de Loza Sucia y Limpia
        a(href="mesas-de-trabajo-industriales.html").producto__box
          img(src="img/prouctos-gal/Sanimack41.png", alt="")
          h1 Mesas de Trabajo
        a(href="rejillas-y-registros.html").producto__box
          img(src="img/prouctos-gal/Sanimack27.png", alt="")
          h1 Rejillas y Registros
        a(href="repisas.html").producto__box
          img(src="img/prouctos-gal/Sanimack13.png", alt="")
          h1 Repisas
        a(href="trampas-de-grasa.html").producto__box
          img(src="img/prouctos-gal/Sanimack33.png", alt="")
          h1 Trampas de grasa
