.producto__banner.ptb3
  .ed-container
    .ed-item
      header(role="main")
        h1 Lavamanos
.prodcto__imagen
  .ed-container
    .ed-item
      .slider-wrapper.theme-default
        #slider.nivoSlider
          img(src="img/galeria/lavamanos1.png", alt="")
.producto__tabla
  .ed-container
    .ed-item
      table.tg(style='undefined;table-layout: fixed;')
        colgroup
          col(style='width: 5%')
          col(style='width: 10%')
          col(style='width: 5%')
          col(style='width: 5%')
          col(style='width: 5%')
          col(style='width: 5%')
          col(style='width: 5%')
          col(style='width: 5%')
          col(style='width: 5%')
          col(style='width: 5%')
          col(style='width: 5%')
        tr
          th.tg-rb0r(colspan='11') Lavamanos
        tr
          td.tg-5y5n Modelo
          td.tg-5y5n Descripción
          td.tg-5y5n SS
          td.tg-5y5n SM
          td.tg-5y5n SE
          td.tg-5y5n A
          td.tg-c57o B
          td.tg-c57o C
          td.tg-c57o D
          td.tg-c57o E
          td.tg-c57o H
        tr
          td.tg-cxkv SS4-7ZR
          td.tg-zlxb(rowspan='5') Recibo de loza sucia "recta"
          td.tg-zlxb(rowspan='5') X
          td.tg-zlxb(rowspan='5') X
          td.tg-zlxb(rowspan='5')
          td.tg-tdyy 1.43
          td.tg-zlxb(rowspan='5') 0.76
          td.tg-zlxb(rowspan='5')
          td.tg-zlxb(rowspan='5')
          td.tg-zlxb(rowspan='5')
          td.tg-zlxb(rowspan='5') 0.91
        tr
          td.tg-cxkv SS5-7ZR
          td.tg-tdyy 1.73
        tr
          td.tg-cxkv SS6-7ZR
          td.tg-tdyy 2.04
        tr
          td.tg-cxkv SS7-7ZR
          td.tg-tdyy 2.34
        tr
          td.tg-3we0 SS8-7ZR
          td.tg-cwv5 2.65
        tr
          td.tg-c57o
          td.tg-c57o
          td.tg-c57o
          td.tg-c57o
          td.tg-c57o
          td.tg-hv2l
          td.tg-ci37
          td.tg-ci37
          td.tg-ci37
          td.tg-ci37
          td.tg-ci37
        tr
          td.tg-3we0 SS5-2ZL
          td.tg-zlxb(rowspan='5') Recibo de loza sucia "L"
          td.tg-3we0(rowspan='5') X
          td.tg-3we0(rowspan='5') X
          td.tg-3we0(rowspan='5')
          td.tg-cwv5 1.58
          td.tg-zlxb(rowspan='5') 1.1
          td.tg-zlxb(rowspan='5') 2.11
          td.tg-zlxb(rowspan='5') 0.8
          td.tg-zlxb(rowspan='5')
          td.tg-zlxb(rowspan='5') 0.91
        tr
          td.tg-3we0 SS6-0ZL
          td.tg-cwv5 1.84
        tr
          td.tg-3we0 SS7-2ZL
          td.tg-cwv5 2.19
        tr
          td.tg-3we0 SS8-2ZL
          td.tg-cwv5 2.49
        tr
          td.tg-3we0 SS9-2ZL
          td.tg-cwv5 2.8
        tr
          td.tg-c57o
          td.tg-c57o
          td.tg-c57o
          td.tg-c57o
          td.tg-c57o
          td.tg-hv2l
          td.tg-ci37
          td.tg-ci37
          td.tg-ci37
          td.tg-ci37
          td.tg-ci37
        tr
          td.tg-3we0 SS6-0ZJ
          td.tg-zlxb(rowspan='4') Recibo de loza sucia "J"
          td.tg-3we0(rowspan='4') X
          td.tg-3we0(rowspan='4') X
          td.tg-3we0(rowspan='4')
          td.tg-cwv5 1.84
          td.tg-zlxb(rowspan='4') 1.1
          td.tg-zlxb(rowspan='4') 2.94
          td.tg-zlxb(rowspan='4') 1.3
          td.tg-zlxb(rowspan='4') 0.76
          td.tg-zlxb(rowspan='4') 0.91
        tr
          td.tg-3we0 SS7-2ZJ
          td.tg-cwv5 2.19
        tr
          td.tg-3we0 SS8-2ZJ
          td.tg-cwv5 2.49
        tr
          td.tg-3we0 SS9-2ZJ
          td.tg-cwv5 2.8
        tr
          td.tg-c57o
          td.tg-c57o
          td.tg-c57o
          td.tg-c57o
          td.tg-c57o
          td.tg-hv2l
          td.tg-ci37
          td.tg-ci37
          td.tg-ci37
          td.tg-ci37
          td.tg-ci37
        tr
          td.tg-3we0 SS2-8ZRL
          td.tg-zlxb(rowspan='4') Recibo de loza limpia "R"
          td.tg-3we0(rowspan='4') X
          td.tg-3we0(rowspan='4') X
          td.tg-3we0(rowspan='4')
          td.tg-3we0 0.84
          td.tg-zlxb(rowspan='4') 0.76
          td.tg-zlxb(rowspan='4')
          td.tg-zlxb(rowspan='4')
          td.tg-zlxb(rowspan='4')
          td.tg-zlxb(rowspan='4') 0.91
        tr
          td.tg-cxkv SS2-7ZRL
          td.tg-tdyy 1.14
        tr
          td.tg-cxkv SS8-2ZRL
          td.tg-tdyy 2.49
        tr
          td.tg-cxkv SS9-2ZRL
          td.tg-tdyy 2.8
        tr
          td.tg-5y5n
          td.tg-ci37
          td.tg-ci37
          td.tg-ci37
          td.tg-ci37
          td.tg-7nfe
          td.tg-ci37
          td.tg-ci37
          td.tg-ci37
          td.tg-ci37
          td.tg-ci37
        tr
          td.tg-cxkv SS5-2RC
          td.tg-zlxb(rowspan='5') Repisa de clasificacion
          td.tg-zlxb(rowspan='5') X
          td.tg-zlxb(rowspan='5') X
          td.tg-zlxb(rowspan='5')
          td.tg-tdyy 1.58
          td.tg-zlxb(rowspan='5') 0.61
          td.tg-zlxb(rowspan='5')
          td.tg-zlxb(rowspan='5')
          td.tg-zlxb(rowspan='5')
          td.tg-zlxb(rowspan='5') 0.68
        tr
          td.tg-cxkv SS6-0RC
          td.tg-tdyy 1.84
        tr
          td.tg-cxkv SS5-QRC
          td.tg-tdyy 1.73
        tr
          td.tg-cxkv SS8-2RC
          td.tg-tdyy 2.5
        tr
          td.tg-cxkv SS9-2RC
          td.tg-tdyy 2.8
        tr
          td.tg-c57o
          td.tg-ci37
          td.tg-ci37
          td.tg-ci37
          td.tg-ci37
          td.tg-7nfe
          td.tg-ci37
          td.tg-ci37
          td.tg-ci37
          td.tg-ci37
          td.tg-ci37
        tr
          td.tg-3we0 SS4-1RCP
          td.tg-zlxb(rowspan='3') Repisa de clasificacion de pared
          td.tg-zlxb(rowspan='3') X
          td.tg-zlxb(rowspan='3') X
          td.tg-zlxb(rowspan='3')
          td.tg-tdyy 1.25
          td.tg-zlxb(rowspan='3') 0.48
          td.tg-zlxb(rowspan='3')
          td.tg-zlxb(rowspan='3')
          td.tg-zlxb(rowspan='3')
          td.tg-zlxb(rowspan='3') 0.42
        tr
          td.tg-3we0 SS4-7RCP
          td.tg-tdyy 1.43
        tr
          td.tg-3we0 SS5-7RCP
          td.tg-tdyy 1.73
        tr
          td.tg-c57o
          td.tg-ci37
          td.tg-ci37
          td.tg-ci37
          td.tg-ci37
          td.tg-7nfe
          td.tg-ci37
          td.tg-ci37
          td.tg-ci37
          td.tg-ci37
          td.tg-ci37
        tr
          td.tg-3we0 SS4-9CRL
          td.tg-zlxb(rowspan='4') Rack para charolas de recibo de loza sucia 
          td.tg-zlxb(rowspan='4') X
          td.tg-zlxb(rowspan='4') X
          td.tg-zlxb(rowspan='4')
          td.tg-tdyy 1.5
          td.tg-zlxb(rowspan='4') 0.45
          td.tg-zlxb(rowspan='4')
          td.tg-zlxb(rowspan='4')
          td.tg-zlxb(rowspan='4')
          td.tg-zlxb(rowspan='4') 0.8
        tr
          td.tg-3we0 SS6-6CRL
          td.tg-tdyy 2
        tr
          td.tg-3we0 SS8-2CRL
          td.tg-tdyy 2.5
        tr
          td.tg-3we0 SS9-8CRL
          td.tg-tdyy 3
.producto__boton-back
  .ed-container
    .ed-item
      a(href="productos.html").boton-back Regresar
