.servicios__description.mb5
  .ed-container
    .ed-item.tablet-65.tablet-order-1
      .servicios__description--info
        h2 Proyectos / Diseño
        p En Sanimack S.A. de C.V. no solo somos fabricantes sino que también contamos con una area especializada en diseño e ingeniería para equipar su cocina de la manera correcta y aprovechando al máximo cada espacio para brindarle a usted una cocina funcional.
    .ed-item.tablet-35.tablet-order-2
      .servicios__description--img
        .slider-wrapper.theme-default
          #slider.nivoSlider
            img(src="img/galeria/diseno-sanimack3.jpg", alt="")
            img(src="img/galeria/diseno-sanimack2.jpg", alt="")
    .ed-item.tablet-35.tablet-order-4
      .servicios__description--info
        h2 Manufactura
        p En Sanimack S.A. de C.V. somos fabricantes de equipos acero inoxidable de la mas alta calidad y con el mejor acabado para brindarle a usted una durabilidad, resistencia y presentación en cada equipo que fabricamos cumpliendo con las normas nacionales e internacionales.
    .ed-item.tablet-65.tablet-order-3
      .servicios__description--img
    .ed-item.tablet-65.tablet-order-5
      .servicios__description--info
        h2 Instalación
        p Con 30 años de experiencia equipando cocinas institucionales sabemos las necesidades principales de nuestros clientes es por eso que te ofrecemos el servicio completo de instalación, que incluye, interconexión  de nuestros equipos a las tomas de agua, drenaje, electricidad y gas. Incluyendo materiales necesarios para su buen funcionamiento para entregar su cocina puesta en marcha, llave en mano.
    .ed-item.tablet-35.tablet-order-6
      .servicios__description--img
